body {
    background-color: green;
}

input {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 3px;
}

#display {
    width: 245px;
}

/*#seven {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    font-size: 30px;*/
/*    border-radius: 10px;*/
/*    margin-bottom: 3px;  */
/*}*/


